.advantages {
  background: $background-sub;
  padding: 115px 0;

  @include tablets {
    padding: 95px 0;
  }

  @include phones {
    position: relative;
    padding: 67px 0 26px 0;
  }

  .container {
    @include desktop {
      max-width: 1040px;
    }

    @include phones {
      max-width: 100%;
    }
  }

  h2 {
    font-size: 49px;
    letter-spacing: 0.09rem;
    font-family: $bebas;
    text-align: center;
    margin: 0 0 65px 0;

    @include tablets {
      font-size: 42px;
      margin-bottom: 45px;
      letter-spacing: 0.03em;
    }

    @include phones {
      font-size: 32px;
    }
  }
}

.advantages__wrapper {
  position: relative;
  height: 313px;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  @include phones {
    position: static;
  }
}

.advantages__description {
  display: flex;
  justify-content: space-between;
  height: 50%;

  @include phones {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  &:first-of-type {
    border-bottom: 1px solid rgba($bb-color, 0.2);

    @include tablets {
      border: transparent;
      margin-bottom: 44px;
    }

    @include phones {
      margin-bottom: 7px;
    }

    .advantages__item {
      display: flex;
      align-items: flex-start;

      @include phones {
        align-items: center;
      }
    }
  }
}

.advantages__main {
  position: absolute;
  top: 0;
  left: 50%;
  background: $background-sub;
  color: $white;
  text-align: center;
  padding: 0 62px;
  width: 35%;
  height: 308px;
  transform: translateX(-50%);

  @include tablets {
    position: static;
    width: 65.2%;
    height: 239px;
    transform: none;
    padding: 0;
    margin-bottom: 45px;
  }

  @include phones {
    width: 100%;
  }
}

.advantages__main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $advantages-blue;
  height: 100%;

  @include tablets {
    width: 100%;
  }

  span {
    font-weight: bold;
    font-size: 74px;
    line-height: 70px;
  }

  h3 {
    font-weight: bold;
    font-size: 26px;
    margin: 10px 0 35px 0;

    @include tablets {
      font-size: 22px;
      margin: 5px 0 18px 0;
    }

    @include phones {
      margin: 0 0 12px 0;
    }
  }

  p {
    margin: 0;
    line-height: 150%;
    width: 75%;

    @include tablets {
      width: 40%;
    }

    @include phones {
      width: 60%;
    }
  }
}


.advantages__item {
  display: flex;
  align-items: flex-end;
  width: 32%;

  @include tablets {
    width: 47.5%;
  }

  @include phones {
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 38px;
  }

  &:first-of-type {
    margin-left: 25px;

    @include tablets {
      margin-left: 0;
    }
  }

  &:last-of-type {
    margin-right: 5px;

    @include tablets {
      margin-right: 0;
    }
  }
}

.advantages__amount {
  color: $font-advantages;
  margin-right: 30px;

  @include phones {
    margin-right: 0;
    margin-bottom: 13px;
  }

  div:first-of-type {
    font-weight: bold;
    font-size: 71px;
    background: linear-gradient(to right, $dark-red, $dark-blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 53px;
    margin-bottom: 8px;

    @include tablets {
      font-size: 58px;
      margin-bottom: 0;
    }
  }

  div:last-of-type {
    font-size: 14px;
  }
}

.advantages__info {
  h3 {
    margin: 0 0 9px 0;
    font-weight: bold;
    font-size: 22px;

    @include tablets {
      font-size: 20px;
      margin-bottom: 5px;
    }

    @include phones {
      margin-bottom: 5px;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    line-height: 140%;

    @include phones {
      line-height: 140%;
    }
  }
}
