.connect {
  display: flex;
  height: 337px;

  @include tablets {
    flex-direction: column;
    height: auto;
  }

  h2 {
    font-family: $bebas;
    font-size: 49px;
    letter-spacing: 0.09rem;
    margin: 0 0 36px 0;

    @include tablets {
      font-size: 42px;
      margin-bottom: 32px;
      letter-spacing: 0.03em;
    }

    @include phones {
      font-size: 32px;
      letter-spacing: 0.06rem;
      margin-bottom: 35px;
    }
  }
}

.connect__free {
  width: 50%;
  color: $white;
  background: $font-main;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include tablets {
    width: 100%;
    align-items: center;
    padding-right: 0;
  }

  @include phones {
    padding-right: 0;
  }
}

.connect__free-wrapper {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 748px;

  @include tablets {
    padding: 65px 0 69px 0;
    width: 65%;
    margin-top: 0;
  }

  @include phones {
    width: 90%;
    min-width: auto;
    padding: 67px 0 69px 0;
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  button {
    width: 100%;
    color: $white;
    background: transparent;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border: 3px solid $white;
    padding: 16px 0;
    letter-spacing: 0.05rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.connect__form {
  width: 55%;

  @include tablets {
    width: 67%;
    padding-right: 28px;
  }

  @include phones {
    width: 100%;
    padding-right: 0;
  }
}

.connect__fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 29px;

  @include tablets {
    margin-bottom: 28px;
  }

  @include phones {
    flex-direction: column;
    margin-bottom: 5px;
  }

  input {
    width: 46%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $dark-gray;
    padding: 5px 1px;
    font-size: 14px;
    color: $white;
    border-radius: 0;

    @include tablets {
      width: 44%;
    }

    @include phones {
      width: 100%;
      margin-bottom: 33px;
    }

    &::placeholder {
      color: $white;
      font-size: 14px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid $white;
    }
  }
}

.connect__contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $dark-gray;
  border-right: 1px solid transparent;

  @include tablets {
    width: 100%;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: transparent;
  }

  @include phones {
    padding: 67px 0 67px 3px;
  }
}

.connect__contacts-wrapper {
  margin-top: 65px;
  width: 65%;

  @include tablets {
    margin-top: 0;
  }

  @include phones {
    padding-right: 0;
    width: 92%;
  }

  h2 {
    margin-bottom: 40px;

    @include tablets {
      margin-bottom: 35px;
    }

    @include phones {
      margin-bottom: 38px;
    }
  }
}


.connect__info-wrapper {
  display: flex;

  @include phones {
    flex-direction: column;
  }

  address,
  span {
    font-size: 14px;

    @include tablets {
      font-size: 18px;
    }
  }

  address {
    margin-bottom: 22px;
    font-style: normal;

    @include tablets {
      margin-bottom: 28px;
    }

    @include phones {
      margin-bottom: 26px;
    }
  }
}

.connect__address {
  min-width: 52.2%;
  border-right: 1px solid $dark-gray;
  margin-left: 5px;

  @include tablets {
    margin-left: 0;
    min-width: 53.5%;
  }

  @include phones {
    padding-right: 0;
    border-right: none;
    margin-bottom: 26px;
  }
}

.connect__communication {
  min-width: 50%;
  margin-left: 58px;

  @include tablets {
    padding-left: 48px;
    margin-left: 0;
  }

  @include phones {
    padding-left: 0;
  }

  a {
    display: block;
    font-size: 14px;
    color: $font-main;

    @include tablets {
      font-size: 18px;
    }
  }

  a:first-of-type {
    margin-bottom: 23px;

    @include tablets {
      margin-bottom: 28px;
    }
  }
}


.connect__address,
.connect__communication {
  div {
    font-weight: 700;
    margin-bottom: 9px;

    @include tablets {
      font-size: 20px;
      margin-bottom: 12px;
    }

    @include phones {
      margin-bottom: 12px;
    }
  }
}
