.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.8;

  @include tablets {
    margin-bottom: 21px;
  }

  @include phones {
    margin-bottom: 47px;
  }

  a {
    cursor: pointer;

    svg {
      @include phones {
        width: 68px;
        height: 15px;
      }
    }
  }


  a:last-child {
    font-family: $bebas;
    font-size: 26px;
    color: $white;
    letter-spacing: 0.06rem;

    @include tablets {
      font-size: 24px;
      letter-spacing: 0.04rem;
    }

    @include phones {
      font-size: 20px;
      letter-spacing: 0.03rem;
    }
  }
}
