.subscriptions {
  position: relative;
  background-color: $background-sub;
  text-align: center;
  padding: 116px 0 79px 0;

  @include tablets {
    padding: 68px 0 90px 0;
  }

  @include phones {
    padding: 66px 0 35px 0;
  }

  &::after {
    display: block;
    position: absolute;
    top: 560px;
    right: 0;
    content: "";
    width: 321px;
    height: 384px;
    background: center/cover no-repeat url("../img/weight.png");

    @include tablets {
      top: 1470px;
      background-image: url("../img/weight-tablet.png");
    }

    @include phones {
      display: none;
    }
  }

  h2 {
    font-family: $bebas;
    font-size: 49px;
    margin: 0 0 34px 0;
    letter-spacing: 0.09rem;

    @include tablets {
      font-size: 42px;
      margin-bottom: 30px;
      letter-spacing: 0.03em;
    }

    @include phones {
      font-size: 32px;
      margin-bottom: 23px;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.subscriptions__list-buttons {
  margin-bottom: 37px;

  @include tablets {
    margin-bottom: 45px;
  }

  @include phones {
    margin-bottom: 34px;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    box-shadow: inset 0 -2px rgba($gray, 0.2);
  }

  button {
    cursor: pointer;
    background-color: transparent;
    color: rgba($dark-blue, 0.5);
    font-family: $roboto;
    font-size: 20px;
    border: 0;
    z-index: 5;
    border-bottom: 2px solid transparent;
    padding: 0 0 15px 0;
    margin-right: 47px;

    @include tablets {
      font-size: 18px;
      margin-right: 54px;
    }

    @include phones {
      font-size: 16px;
      margin-right: 45px;
    }

    &.active {
      color: $dark-blue;
      border-color: $dark-red;
      outline: none;
    }
  }

  li:last-of-type button {
    margin-right: 0;
  }
}

.subscriptions__items {
  position: relative;
  display: none;
  z-index: 10;

  &.active {
    display: block;
  }

  ul {
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31%;
    border: 7px solid $white;
    min-height: 448px;
    background: $white;
    margin-bottom: 40px;

    @include tablets {
      width: 65%;
      margin-bottom: 39px;
    }

    @include phones {
      width: 100%;
      min-height: 380px;
    }

    &:hover {
      border-image: linear-gradient(148.82deg, $dark-red 0.85%, $dark-blue 100%) 7;

      a {
        color: $white;
        box-shadow: none;
        background: linear-gradient(97.05deg, $dark-red 0%, $dark-blue 95.31%);
      }
    }
  }
}

.subscriptions__description {
  text-align: center;

  h3 {
    font-weight: bold;
    font-size: 26px;
    margin: 0 0 13px 0;

    @include phones {
      font-size: 22px;
    }
  }

  div:first-of-type {
    color: $font-description;
    margin-bottom: 53px;

    @include phones {
      margin-bottom: 45px;
    }
  }

  a {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: $font-main;
    font-size: 12px;
    padding: 27px 47px;
    border: none;
    box-shadow: inset 2px 2px 0 $font-main, inset -2px -2px 0 $font-main;
    margin-bottom: 3px;
    letter-spacing: 0.05em;

    @include phones {
      margin-bottom: 0;
    }
  }
}

.subscriptions__price {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 80px;
  margin-bottom: 60px;

  @include phones {
    min-height: 60px;
    margin-bottom: 50px;
  }

  span:first-of-type {
    position: absolute;
    font-weight: bold;
    font-size: 100px;
    line-height: 70%;
    top: 0;
    color: rgba($light-gray, 0.5);

    @include phones {
      font-size: 80px;
    }
  }

  span:last-of-type {
    font-weight: bold;
    font-size: 60px;
    line-height: 70%;
    color: $blue;
    z-index: 20;
    margin-right: 14px;

    @include phones {
      font-size: 48px;
      margin-right: 10px;
    }
  }

  svg {
    z-index: 20;

    @include phones {
      width: 24px;
      height: 33px;
    }
  }
}
