.trainers {
  padding: 5px 0 100px 0;

  @include tablets {
    padding-bottom: 80px;
  }

  @include phones {
    padding-bottom: 62px;
  }

  h2 {
    font-family: $bebas;
    font-size: 49px;
    letter-spacing: 0.1rem;
    margin: 0 0 28px 78px;

    @include tablets {
      text-align: center;
      font-size: 42px;
      margin: 0 0 17px 0;
    }

    @include phones {
      font-size: 32px;
      margin-bottom: 35px;
    }
  }

  .container {
    min-width: 1310px;

    @include tablets {
      min-width: 714px;
    }

    @include phones {
      min-width: 100%;
    }
  }
}

.trainers__slider-wrapper {
  > ul {
    display: flex;
    justify-content: space-between;

    > li {
      min-width: 25%;
      padding: 20px;

      @include tablets {
        min-width: 50%;
      }

      @include phones {
        min-width: 100%;
        padding: 7px;
      }
    }
  }
}

.trainers__item {
  position: relative;
  height: 100%;
  max-height: 294px;

  @include phones {
    max-height: 274px;
  }

  &:hover .trainers__info {
    justify-content: center;
    background: rgba($font-main, 0.9);
  }

  &:hover ul,
  &:hover h4 {
    display: block;
  }

  &:hover h3 {
    margin-bottom: 5px;
  }

  img {
    @include phones {
      height: 274px;
    }
  }
}

.trainers__info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid $black;
  box-shadow: 0 4px 4px rgba($black, 0.25);

  @include tablets {
    box-shadow: none;
    border: transparent;
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 25px 0;
  }

  h4 {
    display: none;
    margin: 0 0 38px 0;
  }

  ul {
    display: none;
    padding: 0 30px 0 72px;

    @include phones {
      padding: 0 15px 0 50px;
    }
  }

  li {
    padding: 10px 0;
    list-style: disc;
    font-size: 14px;
  }

  li:first-of-type {
    padding-top: 0;
  }

  li:last-of-type {
    padding-bottom: 0;
  }
}
