.trainers {
  padding: 5px 0 100px 0;

  @include tablets {
    padding-bottom: 80px;
  }

  @include phones {
    padding-bottom: 62px;
  }

  h2 {
    font-family: $bebas;
    font-size: 49px;
    letter-spacing: 0.1rem;
    margin: 0 0 28px 78px;

    @include tablets {
      text-align: center;
      font-size: 42px;
      margin: 0 0 17px 0;
    }

    @include phones {
      font-size: 32px;
      margin-bottom: 35px;
    }
  }

  .container {
    min-width: 1310px;

    @include tablets {
      min-width: 714px;
    }

    @include phones {
      min-width: 100%;
    }
  }
}
