//breakpoints
$tablets: 1199px;
$phones: 767px;

//colors
$white: #ffffff;
$gray: #787878;
$light-gray: #e8e8e8;
$font-main: #102654;
$font-discription: #495a7d;
$dark-red: #b80027;
$blue: #103aae;
$dark-blue: #003d85;
$background-sub: #f8f9fc;

//fonts
$roboto: "Roboto Condensed", arial, sans-serif;
$bebas: "Bebas Neue", tahoma, sans-serif;
