//breakpoints
$desktop: 1200px;
$tablets: 1199px;
$phones: 767px;

//colors
$white: #ffffff;
$gray: #787878;
$dark-gray: #74819c;
$light-gray: #e8e8e8;
$font-main: #102654;
$font-discription: #495a7d;
$dark-red: #b80027;
$red: #ed0233;
$blue: #103aae;
$dark-blue: #003d85;
$font-advantages: #2e35ac;
$advanteges-blue: #1c3374;
$black: #000000;
$background-sub: #f8f9fc;
$bb-color: #d10a42;

//fonts
$roboto: "Roboto Condensed", arial, sans-serif;
$bebas: "Bebas Neue", tahoma, sans-serif;
